/* Presets */
:root {
    --color-primary: #2b2e39;
    --color-primary-light: #2b2e39e1;
    --color-primary-dark: #2b3fb1;
    --color-secondary: #de4f4f;
    --color-secondary-dark: #a83636;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }
  
* {
    margin: 0;
    padding: 0; 
}
  
*,
*::before,
*::after {
    box-sizing: inherit; 
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
  

body {
    font-family: 'Nanum Gothic', sans-serif !important;
}

.navbar {
    padding: 1.8rem !important;
    background-color: var(--color-primary) !important;
    margin: -5rem -5rem 2rem -5rem !important;
}

.navbar .navbar-brand {
    font-size: 2rem !important;
    font-weight: 700 !important;
    color: var(--color-grey-light-1) !important;
}

.nav-link {
    font-size: 1.8rem !important;
    color: var(--color-grey-dark-3) !important;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.nav-link:hover {
    color: var(--color-grey-light-2);
}

#login-dropdown-list {
    position: absolute;
    top: 37px;
    left: -145px;
}

.accounts-dialog {
    z-index: 1000;
    background: white;
    border-radius: 0px;
    padding: 16px 25px;
    margin: -8px -12px 0 -68px;
    width: 306px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #333;
}

#login-buttons .login-button, .accounts-dialog .login-button {
    cursor: pointer;
    user-select: none;
    padding: 4px 8px;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background: var(--color-grey-dark-1);
    border-radius: 0px;
    border: none;
    padding: .5rem;
    margin: 1rem 0;
}

#login-buttons .login-button, .accounts-dialog .login-button:hover {
    background-color: var(--color-grey-dark-1) !important;
}

#login-buttons a, .accounts-dialog a {
    cursor: pointer;
    text-decoration: none;
}

.accounts-dialog .additional-link {
    font-size: 1.2rem;
}

.main-container {
    max-width: 120rem;
    min-height: 100vh;
    margin: 8rem auto;
    margin: 50px auto;
    background-color: #ffff;
    box-shadow: var(--shadow-dark);
    padding: 50px 50px;
    border-radius: 8px;
}

.student-form {
    max-width: 500px;
    margin: 0 auto;
}

.input-field {
    height: 4rem !important;
    padding: 0 20px 0 20px !important; 
    display: block !important;
    width: 100% !important;
    background: var(--color-grey-light-3) !important;
    font-size: 2rem !important;
    line-height: 1.5 !important;
    color: #666666 !important;
    outline: none !important;
    border: none !important;
}

.submit-button {
    height: 4rem;
    font-size: 1.8rem !important; 
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    background-color: var(--color-secondary);
    text-transform: uppercase; 
    transition: all 0.8s ease;
}

.update-button {
    background-color: var(--color-secondary);
}

.submit-button:hover {
    font-size: 1.9rem;
    background-color: var(--color-secondary-dark);
}

.display-4 {
    margin-bottom: 2rem;
    font-weight: 100;
    font-size: 3rem;
    color: var(--color-primary-light);
}

.students-info {
    max-width: 900px;
    margin: 2rem auto 5rem auto;
}

.student-table thead{
    background-color: var(--color-secondary);
    padding: 1rem;
    color: #ffff;
    font-size: 1.8rem;
}
 
.student-table tbody {
    font-size: 1.8rem;
}

.fa-edit {
    color: #009865;
    cursor: pointer;
}

.fa-trash-alt {
    color: #ff5252;
    cursor: pointer;
}

@media only screen and (max-width: 755px) {
    .main-container {
        background-color: #ffff;
        padding: 5rem 0;
        margin: 0;
    }

    .student-table tbody {
        font-size: 1.2rem;
    }
    .student-table thead{
        padding: .5rem;
        color: #ffff;
        font-size: 1.3rem;
    }

    .student-form {
        padding: 0px 10px;
    }

    .input-field {
        height: 3rem;
        padding: 0 1.8rem 0 1.8rem;
        font-size: 1.3rem;
    }

    .submit-button {
        height: 35px;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .display-4 {
        font-size: 30px;
    }

    .form-input-field {
        margin-top: 1rem;
        margin-bottom: .6rem;
    }
}

@media only screen and (max-width: 900px) {
    .main-container {
        background-color: #ffff;
        padding: 50px 50px;
        margin: 0;
    }

    .student-table tbody {
        font-size: 1.5rem;
    }

    .student-form {
        padding: 0px 50px;
    }

    .input-field {
        height: 35px;
        padding: 0 20px 0 20px;
        font-size: 15px;
    }

    .submit-button {
        height: 35px;
        font-size: 15px;
        line-height: 1.5;
    }

    .display-4 {
        font-size: 30px;
        font-weight: bold !important;
    }
}
